:root {
  --black: #000000;
  --white: #ffffff;
  --gray-azure: #283136;
  --delicious: #eeeeee;
  --light-red: #fb565a;
  --quick-silver: #a6a6a6;
  --light-grey: #e1e1e1;
  --dark-green: #00ca74;
  --light-amber: #efc849;
  --dell: #444444;
  --direct-energy: #666666;
  --dark-grey: #4d4d4d;
  --verizon: #f2f2f2;
  --extra-light-grey: #ababab;
  --gray-black: #231f20;
  --light-grey-azure: #d7dcdf;
  --alto: #dbdbdb;
  --black-green: #01a25e;
  --light-red-two: #e74246;
  --red: #d7373b;
  --light-grey-B4: #b4b9bb;
  --light-grey-d5: #d5d5d5;
  --light-grey-d7: #d7dcde;
  --light-grey-df: #dfdfdf;
  --light-grey-c1: #c1c1c1;
  --dark-green-one: #00aa62;
  --dark-green-two: #00bc6c;
  --amber: #e5a722;
  --light-amber: #eab534;
  --light-amber-two: #efc84a;

  --dell-op05: rgb(68, 68, 68, 0.5);
  --light-red-op03: rgb(251, 86, 90, 0.3);
  --black-op03: rgb(0, 0, 0, 0.3);
  --white-op03: rgb(255, 255, 255, 0.3);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);

  background-color: var(--white);
}

a {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;

  display: inline-block;

  background-color: var(--light-red);
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--light-red-two);
  outline: none;
}

.button:active {
  color: var(--white-op03);

  background-color: var(--red);
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53);
  box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

/*   index   */

/* header */

.page__gray {
  background-color: var(--delicious);
  position: relative;
}

.wrap {
  width: 1160px;
  margin: 0 auto;

  border-bottom: 2px solid var(--delicious);
}

.site-header {
  background-color: var(--delicious);
}

.wrap-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 49px;
  padding-bottom: 18px;
  border: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-header__logo {
  line-height: 0;
}

.site-header__logo:hover path {
  fill: var(--black);
}

.site-header__logo:active path {
  fill: var(--quick-silver);
}

.site-nav {
  margin-top: 17px;
  margin-left: 202px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  max-width: 650px;

  list-style: none;
}

.site-nav__item {
  margin-right: 46px;
}

.site-nav__item:last-child {
  margin-right: 0px;
}

.site-nav__cart {
  position: relative;

  padding: 0;
  padding-left: 40px;
  margin-left: auto;
  margin-top: 17px;
}

.site-nav__cart svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.site-nav__cart g {
  fill: var(--quick-silver);
}

.site-header__nav a,
.site-nav__cart {
  color: var(--black);
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-header__nav a:hover,
.site-header__nav a:focus,
.site-nav__cart:hover,
.site-nav__cart:focus {
  color: var(--light-red);
  outline: none;
}


.site-header__nav a:focus,
.site-nav__cart:focus {
  color: var(--light-red);
  outline: none;
}

.site-header__nav a:active,
.site-nav__cart:active {
  color: var(--black-op03);
}

/* main */

/* slider */

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  position: relative;
  display: none;
}

.wrap-slider {
  border: none;

  position: relative;
}

.slider-box {
  width: 380px;
  padding-top: 59px;
  padding-bottom: 80px;
  margin-right: 51px;
}

.slider__subtitle {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.slider__text {
  color: var(--gray-azure);

  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.slider__link {
  padding: 16px 55px 16px 54px;
}

.slider-img {
  width: 698px;
  height: 413px;

  position: absolute;
  bottom: 0;
  right: 30px;

  background-image: url(../img/slide1.png);
  background-position: center;
  background-repeat: no-repeat;
}

.slider-2 .slider-box {
  width: 515px;
}

.slider-2 p {
  padding-right: 90px;
}

.slider-2 .slider-img {
  width: 663px;
  height: 430px;

  position: absolute;
  bottom: 0;
  right: 0;

  background-image: url(../img/slide2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.slider-3 .slider-box {
  width: 420px;
}

.slider-2 p {
  padding-right: 60px;
}

.slider-3 .slider-img {
  width: 759px;
  height: 411px;

  position: absolute;
  bottom: 0;
  right: 0;

  background-image: url(../img/slide3.png);
  background-position: center;
  background-repeat: no-repeat;
}

.slider__controls {
  font-size: 0;

  position: absolute;
  bottom: 92px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
}

.slider__controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 18px;
  border-radius: 50%;

  vertical-align: middle;

  background-color: var(--white);
  cursor: pointer;
}

.slider__controls label:last-child {
  margin: 0;
}

.slider__controls label::after {
  content: "";

  display: none;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 200;

  width: 8px;
  height: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 2px solid var(--light-grey-c1);
  border-radius: 50%;
  background-color: transparent;
}

#image-one:checked~.wrap-slider #slider1,
#image-two:checked~.wrap-slider #slider2,
#image-three:checked~.wrap-slider #slider3 {
  display: block;
}

#image-one:checked~.slider__controls label[for="image-one"]::after,
#image-two:checked~.slider__controls label[for="image-two"]::after,
#image-three:checked~.slider__controls label[for="image-three"]::after {
  display: block;
}

#image-one:checked:focus~.slider__controls label[for="image-one"],
#image-two:checked:focus~.slider__controls label[for="image-two"],
#image-three:checked:focus~.slider__controls label[for="image-three"] {
  outline: -webkit-focus-ring-color auto 1px;
}

/* advantages */

.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 100px 300px 100px 300px;
  grid-template-columns: 300px 300px 300px;
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages__item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.item-websites::before {
  content: "";
  background-image: url(../img/illustration-1.jpg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 146px;
  margin-top: 80px;
}

.item-applications::before {
  content: "";
  background-image: url(../img/illustration-2.jpg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 146px;
  margin-top: 80px;
}

.item-presentations::before {
  content: "";
  background-image: url(../img/illustration-3.jpg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 146px;
  margin-top: 80px;
}


.advantages__item:last-child {
  margin-right: 0px;
}

.item-advantages__title {
  color: var(--black);
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;

  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 25px
}

.item-advantages__content {
  color: var(--gray-azure);
  padding: 0;
  padding-right: 50px;
  margin: 0;
  margin-bottom: 33px;
}

.item-advantages__link {
  padding: 16px 40px;
  padding-top: 17px;
}

.item-advantages__link--green {
  background-color: var(--dark-green);
}

.item-advantages__link--green:hover,
.item-advantages__link--green:focus {
  background-color: var(--dark-green-two);
}

.item-advantages__link--green:active {
  color: var(--white-op03);
  background-color: var(--dark-green-one);
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0, 153, 88);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 153, 88)
}

.item-advantages__link--orange {
  background-color: var(--light-amber-two);
}

.item-advantages__link--orange:hover,
.item-advantages__link--orange:focus {
  background-color: var(--light-amber);
}

.item-advantages__link--orange:active {
  color: var(--white-op03);
  background-color: var(--amber);
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(206, 150, 31);
  box-shadow: inset 0px 3px 0px 0px rgba(206, 150, 31);
}

/* about */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-bottom: 75px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-iner:nth-of-type(1) {
  width: 660px;
  padding-top: 33px;
}

.about-iner:nth-of-type(2) {
  width: 360px;
}

.about__subtitle {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}

.about__text {
  color: var(--gray-azure);
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.about__info {
  text-transform: uppercase;
  font-weight: 700;

  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__item {
  position: relative;

  color: var(--gray-azure);
  margin-bottom: 24px;
  padding-left: 36px;
}

.list__item::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  width: 25px;
  height: 2px;
  margin-top: -1px;

  background-color: var(--light-red);
}

.list__item:last-child {
  margin-bottom: 0px;
}

.about__img {
  background-image: url(../img/nerds-illustration.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 208px;
  margin-bottom: 35px;
}

.info-year {
  text-align: center;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 41px;
}

.statistics__item {
  margin-right: 23px;
}

.statistics__item:last-child {
  margin-right: 0px;
}

.statistics__number {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.statistics__number sup {
  font-size: 26px;
}

.statistics__text {
  line-height: 18px;
  color: var(--gray-azure);
  padding: 0;
  margin: 0;
}

/* portfolio */

.portfolio {
  margin-bottom: 80px;
}

.portfolio__list {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 43px;
  padding-left: 30px;
  padding-right: 42px;
  margin: 0;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portfolio__item::before {
  content: "";

  width: 2px;
  height: 52px;
  margin-right: 55px;

  background-color: var(--delicious);
}

.portfolio__item:first-child::before {
  display: none;
}

.portfolio__item>img {
  position: relative;
  opacity: 0.2;

  cursor: pointer;
}

.portfolio__item>img:hover {
  opacity: 1;
}

.portfolio__item>img:active {
  opacity: 0.1;
}

/* map */

.map {
  position: relative;
}

.map__img {
  width: 100%;
  min-width: 1160px;
  height: 416px;
  -o-object-fit: cover;
  object-fit: cover;

  position: relative;
  top: 0;
  left: 0;
}

.map iframe {
  min-width: 1160px;
  width: 100%;
  height: 416px;

  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 10;
}

.map .wrap {
  position: relative;

  width: 1160px;
  height: auto;

  border: 0;
}

.map .wrap::before {
  content: "";

  position: absolute;
  top: -333px;
  left: 680px;

  width: 230px;
  height: 190px;


  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts {
  position: absolute;
  top: -368px;
  left: 0px;
  z-index: 11;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 220px;
  padding: 50px;
  padding-bottom: 47px;

  background-color: var(--white);
}

.contacts__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.contacts__text {
  line-height: 18px;
  color: var(--direct-energy);

  padding: 0;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 19px;
}

.contacts__tel {
  line-height: 18px;
  color: var(--direct-energy);
  margin-bottom: 38px;
}

.contacts__link {
  padding: 16px 44px;
}

/* footer */

.wrap-footer {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 62px 0;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;

  margin: 0;
  margin-right: 140px;
  max-width: 265px;

  list-style: none;
}

.socials-list__item {
  margin-right: 13px;
}

.socials-list__item:nth-child(3n) {
  margin-right: 0px;
}

.socials-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 78px;
  height: 78px;

  background-color: var(--light-grey);
  border-radius: 50%;
}

.content-footer {
  padding-top: 7px;
}

.content-footer__text {
  padding: 0;
  margin: 0;
}

.site-footer__content p:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  margin-bottom: 10px;
}

.site-footer__content p:last-child {
  font-size: inherit;
  line-height: 22px;
  color: var(--dell);
}

/* animation */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
    transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }

  90% {
    -webkit-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
    transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }

  90% {
    -webkit-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-55%, -55%);
    transform: translate(-55%, -55%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-45%, -45%);
    transform: translate(-45%, -45%);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-55%, -50%);
    transform: translate(-55%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-45%, -50%);
    transform: translate(-45%, -50%);
  }
}

/* modal */

.modal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;

  width: 960px;
  padding: 70px 100px;

  background-color: var(--white);
  -webkit-box-shadow: 0 0 20px rgba(0, 1, 1, 0.75);
  box-shadow: 0 0 20px rgba(0, 1, 1, 0.75);
}

.modal__show {
  display: block;

  -webkit-animation: bounce 0.6s;

  animation: bounce 0.6s;
}

.modal__error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal__subtitle {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-bottom: 50px;
}

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  margin-bottom: 35px;
}

.label-form {
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;

  cursor: pointer;
}

.modal__form input,
.modal__form textarea {
  border: 2px solid var(--light-grey-d7);
  border-radius: 3px;
  color: var(--dell);
  opacity: 0.5;
}

.modal__form input:hover,
.modal__form textarea:hover {
  border: 2px solid var(--light-grey-B4);
  border-radius: 3px;
  color: var(--dell);
  opacity: 0.5;
}

.modal__form input:focus,
.modal__form textarea:focus {
  border: 2px solid var(--black);
  border-radius: 3px;
  color: var(--dell);
  opacity: 1;
}

.modal__form input:invalid,
.modal__form textarea:invalid {
  border: 2px solid var(--light-red-two);
  border-radius: 3px;
  color: var(--light-red-two);

  outline: none;
}

.form__inner>input[type="text"],
.form__inner>input[type="email"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 360px;
  height: 50px;
  padding-left: 14px;
}

.form__inner>textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 760px;
  height: 118px;
  padding: 0;
  padding-left: 14px;
  padding-top: 13px;

  resize: none;
}

.modal__form>.button {
  padding: 16px 84px;
  margin-top: 12px;
}

.modal__close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 23px;
  height: 23px;

  border: 0;
  background-color: transparent;

  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";

  position: absolute;
  top: -2px;
  left: 10px;

  width: 3px;
  height: 27px;

  background-color: var(--light-red);
  opacity: 0.3;
}

.modal__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal__close:hover::before,
.modal__close:hover::after,
.modal__close:focus::before,
.modal__close:focus::after {
  content: "";

  position: absolute;
  top: -2px;
  left: 10px;

  width: 3px;
  height: 27px;

  background-color: var(--light-red-two);
  opacity: 1;
}

.modal__close:active::before,
.modal__close:active::after {
  content: "";

  position: absolute;
  top: -2px;
  left: 10px;

  width: 3px;
  height: 27px;

  background-color: var(--light-red);
  opacity: 0.1;
}

/*   catalog   */

.site-nav__link--active {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--light-red);
}

.site-main__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;

  padding: 0;
  padding-top: 60px;
  padding-bottom: 107px;
  margin: 0;
}

/* filters */

.wrap-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 55px;
  margin-bottom: 50px;
  border: none;
}

.filters {
  max-width: 261px;
}

.field {
  border: none;

  padding: 0;
  margin: 0;
}

.field__subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}

/* range */

.wrap-field__range {
  position: relative;

  margin-top: 48px;
  margin-bottom: 14px;
  padding: 39px 20px;
  text-align: center;

  background-color: var(--delicious);
  border-radius: 3px;
}

.field__range {
  width: 205px;
  height: 1px;
  background: -webkit-linear-gradient(left, var(--dark-green) 0%, var(--dark-green) 70%, var(--light-grey-d7) 70%, var(--light-grey-d7) 100%);
}

.toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: var(--white);
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.toggle-min {
  top: 50%;
  left: 17px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.toggle-max {
  top: 50%;
  right: 80px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.toggle::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 4px;
  height: 4px;

  background-color: var(--extra-light-grey);
  border-radius: 50%;
}

.list-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.field__item {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--gray-azure);
}

.field__item:last-child {
  margin: 0;
}

.field__price {
  display: inline-block;
  text-align: center;
  width: 80px;
  padding: 8px 0;
  margin-left: 8px;

  vertical-align: middle;

  background-color: var(--delicious);
  border-radius: 3px;
}

.list-control input {
  display: inline-block;

  -moz-appearance: textfield;

  width: 60px;
  padding: 10px;
  margin-left: 8px;

  text-align: center;
  vertical-align: middle;

  background-color: var(--delicious);
  border-radius: 3px;

  border: 0;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.field:first-child {
  margin-bottom: 55px;
}

/* radio */

.field__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.field__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  line-height: 20px;
  color: var(--gray-azure);

  cursor: pointer;
}

.field__button:disabled+.field__label {
  color: var(--dark-grey);
  opacity: 0.1;
}

.subtitle-radio,
.subtitle-checkbox {
  margin-bottom: 15px;
}

.field-radio__item {
  position: relative;

  margin-bottom: 15px;
}

.field-radio__item label::before {
  content: "";

  position: relative;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-right: 10px;

  border: 4px solid var(--dark-grey);
  opacity: 0.4;
  border-radius: 50%;
}

.field-radio__item label::after {
  content: "";

  display: none;

  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 9px;
  height: 9px;

  background-color: var(--dark-grey);
  opacity: 0.4;
  border-radius: 50%;
}

.field__list input[type="radio"]:checked+label::after {
  display: block;
}

.field__list input[type="radio"]:focus+label::before {
  border-color: var(--dark-grey);
  opacity: 1;
}

.field__list input[type="radio"]:focus+label::after {
  background-color: var(--dark-grey);
  opacity: 1;
}

.field-radio__item label:hover::before {
  border-color: var(--dark-grey);
  opacity: 1;
}

.field-radio__item label:hover::after {
  background-color: var(--dark-grey);
  opacity: 1;
}

.field-radio {
  margin-bottom: 28px;
}

/* checkbox */

.field-checkbox__item {
  position: relative;

  margin-bottom: 17px;
}

.field-checkbox {
  margin-bottom: 30px;
}

.field-checkbox__item label::before {
  content: "";

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  margin-right: 13px;

  border: 2px solid var(--dark-grey);
  opacity: 0.4;
  border-radius: 3px;
}

.field-checkbox__item label::after {
  content: "";

  display: none;

  position: absolute;
  top: 1px;
  left: 6px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 11px;

  border: 4px solid var(--dark-grey);
  opacity: 0.4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.field-checkbox__item label:hover::before,
.field-checkbox__item label:hover::after {
  border-color: var(--dark-grey);
  opacity: 1;
}

.field__list input[type="checkbox"]:checked+label::after {
  display: block;
}

.field__list input[type="checkbox"]:focus+label::after,
.field__list input[type="checkbox"]:focus+label::before {
  border-color: var(--dark-grey);
  opacity: 1;
}

.form-button {
  width: 260px;
  padding-top: 16px;
  padding-bottom: 16px;

  color: var(--black);

  background-color: var(--delicious);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--light-grey-df);
}

.form-button:active {
  color: rgb(0, 0, 0, 0.3);

  background-color: var(--light-grey-d5);
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(191, 191, 191);
  box-shadow: inset 0px 3px 0px 0px rgba(191, 191, 191);
}

/* catalog */

.catalog {
  max-width: 760px;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-bottom: 53px;
}

.catalog-filter__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}

.catalog-filter__list {
  list-style: none;

  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 88px;
}

.catalog-filter__item {
  display: inline-block;
  margin-right: 22px;
  vertical-align: middle;
}

.catalog-filter__item:last-child {
  margin-right: 0px;
}

.catalog-filter__item .catalog__link {
  font-size: 14px;
  line-height: 0px;
  color: var(--black);
  opacity: 0.3;
  text-transform: uppercase;
}

.catalog-filter__item .catalog__link:hover {
  color: var(--black);
  opacity: 0.6;
}

.catalog-filter__item .catalog__link:active {
  color: var(--black);
  opacity: 1;
}

.catalog-filter__button {
  position: relative;
}

.up::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -40px;

  width: 0px;
  height: 0px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgb(166, 166, 166, 0.2);
}

.up:hover::before,
.up:focus::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -40px;

  width: 0px;
  height: 0px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--quick-silver);
}

.up:active::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -40px;

  width: 0px;
  height: 0px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--gray-black);
}

.down::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -11px;

  width: 0px;
  height: 0px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgb(166, 166, 166, 0.2);
}

.down:hover::before,
.down:focus::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -11px;

  width: 0px;
  height: 0px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--quick-silver);
}

.down:active::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -11px;

  width: 0px;
  height: 0px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--gray-black);
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;

  list-style: none;
}

.catalog__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
  width: 360px;
  height: 620px;

  margin-right: 40px;
  margin-bottom: 29px;
  padding-top: 40px;

  background-color: var(--verizon);
  border-radius: 5px;
  overflow: hidden;
}


.img-link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;

  width: 360px;
  height: 40px;

  background-image: url(../img/catalog__item.img.png);
  background-repeat: no-repeat;
  opacity: 0.12;
}

.img-link:hover::before {
  opacity: 1;
}

.catalog__item:nth-child(2n) {
  margin-right: 0px;
}

.img-link {
  display: block;

  height: 580px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  overflow: hidden;
}

.catalog__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.catalog__info {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 28px 60px 41px 60px;

  text-align: center;

  background-color: var(--delicious);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog__item:hover {
  -webkit-box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog__item:hover .catalog__info {
  display: block;
}

.catalog__item:hover .img-link::before {
  opacity: 1;
}

.catalog__item:hover .img-link {
  border: none;
}

.info-catalog__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  display: inline-block;

  vertical-align: middle;

  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.info-catalog__link-subtitle {
  color: var(--black);
}

.info-catalog__link-subtitle:hover,
.info-catalog__link-subtitle:focus {
  color: var(--light-red);
}

.info-catalog__link-subtitle:active {
  color: var(--black);
  opacity: 0.3;
}

.info-catalog__text {
  line-height: 18px;
  color: var(--direct-energy);

  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.catalog__item:nth-child(3) .info-catalog__text,
.catalog__item:nth-child(4) .info-catalog__text {
  padding: 0 25px;
}

.info-catalog__link {
  padding: 16px 60px;
}

.info-catalog__link:active {
  color: var(--white);
}

.pagination-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-catalog__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.pagination-catalog__link {
  width: 50px;
  height: 50px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  color: var(--black);
  background-color: var(--delicious);
}

.button-next {
  width: 260px;
  height: 50px;
}

.pagination-catalog__link:hover,
.pagination-catalog__link:focus {
  color: var(--black);
  background-color: var(--light-grey-df);
}

.pagination-catalog__link:active {
  color: var(--black-op03);
  background-color: var(--light-grey-d5);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

  border: none;
}

.pagination-catalog__link--active {
  background-color: var(--white);

  border: 3px solid var(--alto);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
